# Binaries
**/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Hazel_demo/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__