[submodule "Hazel_demo/vendor/GLFW"]
	path = Hazel_demo/vendor/GLFW
	url = https://gitee.com/ljr1998/glfw.git
[submodule "Hazel_demo/vendor/spdlog"]
	path = Hazel_demo/vendor/spdlog
	url = https://gitee.com/ljr1998/spdlog.git
